<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <script src="http://js.arcgis.com/3.13/"></script>
    <script src="esri.js"></script>

    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='http://js.arcgis.com/3.13/esri/css/esri.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <div id='mapDiv' width='300'></div>
  </body>
</html>
