<div ng-controller="CriteriaPickerCtrl">
    
    <!-- Employment Type FILTER. -->
    <div class="dropdown">
        <button class="btn btn-default dropdown-toggle" type="button" id="ddl-employment" data-toggle="dropdown" aria-expanded="true" style="width:100%;">
            Select Employment Type
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu employment-menu-items" role="menu" aria-labelledby="ddl-employment" style="width:100%;">
            <li ng-repeat="item in employmentTypeData">
                {{item.title}}
            </li>
        </ul>
    </div>
    
    <!-- Argicultural Class FILTER -->
    <div class="dropdown">
        <button class="btn btn-default dropdown-toggle" type="button" id="ddl-agricultural" data-toggle="dropdown" aria-expanded="true" style="width:100%;">
            Select Agricultural Class
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu agricultural-menu-items" role="menu" aria-labelledby="ddl-agricultural" style="width:100%;">
            <li ng-repeat="item in agriculturalClassData">
                {{item.title}}
            </li>
        </ul>
    </div>
    
    <button class='btn btn-primary' type='button' ng-click='correlate()'>Correlate</button>
    
</div>
