<div ng-controller="CriteriaPickerCtrl">

  <select class="form-control">
    <option value="" disabled selected>Select Employment Type</option>
    <option ng-repeat='item in employmentTypeData'>{{item.title}}</option>
  </select>

  <select class="form-control">
    <option value="" disabled selected>Select Agricultural Class</option>
    <option ng-repeat='item in argriculturalClassData'>{{item.Commodity}}</option>
  </select>
    
  <button class='btn btn-primary' type='button' ng-click='correlate()'>Correlate</button>
</div>
