body {
    background-color:#fff;
    overflow-x:hidden;
    font-family:Calibri;
    padding:0;
    margin:0;
    background-color:rgba(210, 223, 209, 0.82);
}

.navbar {
  margin-bottom:0;
}

.container-fluid {
    background-color:#fff;
}

.header-row {
    padding:15px;
    background-color:#fff;
    box-shadow:0px 0px 18px rgba(0,0,0,0.75);
}

.header-row img {
    width:200px;
}

.main-row {
    margin:5px;
    margin-top:25px;
    min-height:700px;
    box-shadow:0px 8px 18px rgba(0,0,0,0.25);
    
    border:0px solid #000;
    border-radius:20px;
}

.map-col {
    padding:15px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    min-height:700px;
    border-radius:20px;
    border-top-right-radius:0px;
    border-bottom-right-radius:0px;
}

.selector-col {
    padding:15px;
    box-shadow:0px 8px 18px rgba(0,0,0,0.2);
    min-height:700px;
    border-radius:20px;
    border-top-left-radius:0px;
    border-bottom-left-radius:0px;
}

.selector-col .dropdown {
    margin-bottom:10px;
}

.btn-correlate {
    
}

.footer-row {
    background-color:rgba(210, 223, 209, 0.82);
    color:white;
    bottom:0px;
    width:100%;
    height:80px;
    padding:0px;
    padding-left:38%;
    margin-top:30px;
    width:110%;
    box-shadow:0px 0px 8px rgba(0,0,0,0.75);
}
.footer-row div {
    width:100%;
    margin-top:25px;
    color:black;
}
